
<body>
    <div class="login-card" id="registroFormContainer">
        <h2>Registro</h2>
        <h3>Ingresa tus datos para crear una cuenta</h3>
        <form class="login-form" method="post">
            <!-- Información personal -->
            <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required>
            <input type="text" name="nombres" placeholder="Nombres" required>
            <input type="text" name="apellidos" placeholder="Apellidos" required>
            <input type="email" name="correo" placeholder="Correo electrónico" required>
            <input type="password" name="contraseña" placeholder="Contraseña" required>
            <input type="password" name="confirmarContraseña" placeholder="Confirmar contraseña" required>
            <button routerLink="/direccion">Siguiente</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/iniciar">Inicia sesión</a></p>
    </div>
</body>

