<body>
    <div class="login-card" id="registroFormContainer"><form class="login-form" method="post">
      <!-- Dirección -->
      <h3>Dirección</h3>
      <input type="text" name="calle" placeholder="Calle" required>
      <input type="text" name="numeroExterior" placeholder="Número Exterior" required>
      <input type="text" name="numeroInterior" placeholder="Número Interior">
      <input type="text" name="fraccionamiento" placeholder="Fraccionamiento">
      <input type="text" name="codigoPostal" placeholder="Código Postal" required>
      <input type="text" name="estado" placeholder="Estado" required>
      <button routerLink="/medioscontacto">Siguiente</button>
</form>
</div>
</body>